vrApp_flow.json
[{"id":"7c6703c4.b4662c","type":"http response","z":"d967b5e5.5d8128","name":"HTTP Response","x":1198.6666259765625,"y":1011.9999809265137,"wires":[]},{"id":"9b9e2dbd.19ecc","type":"template","z":"d967b5e5.5d8128","name":"Report Image Class","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Watson Visual Recognition Results</h1>\n<p>Analyzed image: {{req.query.imageurl}}</p>\n{{#payload}}\n{{#images}}\n{{#scores}}\n<table border='1'>\n<thead>\n    <tr>\n        <th>Classifier</th>\n        <th>Score</th>\n    </tr>\n</thead>\n    <tr>\n        <td><b>{{classifier_id}}</b></td>\n        <td><i>{{score}}</i></td>\n    </tr>\n</table>\n{{/scores}}\n{{/images}}\n{{/payload}}\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>","x":1017.6666259765625,"y":1181.999984741211,"wires":[["7c6703c4.b4662c"]]},{"id":"9c529165.e3208","type":"template","z":"d967b5e5.5d8128","name":"Prompt Images","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<H2>Select an image</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <!--\n    <img src=\"http://www.ambafrance-mt.org/local/cache-vignettes/L945xH539/family_photo8851-b0e9b.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/f/f1/34th_G8_summit_member_20080707.jpg\" height='100'/>\n    <img src=\"http://demo1.alchemyapi.com/images/vision/politicians.jpg\" height='100'/>\n    -->\n    <img src=\"http://www.les-felins.com/wp-content/uploads/sites/791/2015/06/leopards_transparent.png\" height='100'/>\n    <img src=\"http://www.pngall.com/wp-content/uploads/2016/03/Tiger-Free-Download-PNG.png\" height='100'/>\n\n    <br/>Copy above image location URL or enter any image URL:<br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":722.166618347168,"y":919.999979019165,"wires":[["7c6703c4.b4662c"]]},{"id":"fc596ebc.827c5","type":"watsonVR","z":"d967b5e5.5d8128","name":"vrTest","username":"","password":"","service":"_ext_","x":793.1666221618652,"y":1119.999985218048,"wires":[["9b9e2dbd.19ecc"]]},{"id":"c0bcf4e0.1a9c98","type":"switch","z":"d967b5e5.5d8128","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":377.66661834716797,"y":1061.9999811649323,"wires":[["9c529165.e3208"],["f98181fd.3a811"]]},{"id":"f9334f0a.263a5","type":"function","z":"d967b5e5.5d8128","name":"setClassifiers","func":"msg.classifiers = {\n    \"classifiers\": [\n        {\"classifier_id\" : \"tiger_1579683016\"},\n        {\"classifier_id\" : \"leopard_669765398\"}\n    ]\n}\nmsg.imageurl=msg.payload.imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":618.666618347168,"y":1194.9999866485596,"wires":[["fc596ebc.827c5"]]},{"id":"f98181fd.3a811","type":"change","z":"d967b5e5.5d8128","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":419.1666259765625,"y":1192.9999694824219,"wires":[["f9334f0a.263a5"]]},{"id":"a53becbe.10ab4","type":"http in","z":"d967b5e5.5d8128","name":"VRendpoint","url":"/vrTest1","method":"get","swaggerDoc":"","x":166.16663360595703,"y":1056.4999799728394,"wires":[["c0bcf4e0.1a9c98"]]}]
