vrApp_flow.json
[{"id":"12c4f4fc.dfa86b","type":"http response","z":"a9315524.7d29b8","name":"HTTP Response","x":942.1428298950195,"y":251.57142448425293,"wires":[]},{"id":"65a06c69.3edc04","type":"template","z":"a9315524.7d29b8","name":"Prompt Images","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Welcome to the Watson Visual Recognition Demo on Node-RED</h1>\n<H2>Select an image</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <!--\n    <img src=\"http://www.ambafrance-mt.org/local/cache-vignettes/L945xH539/family_photo8851-b0e9b.jpg\" height='100'/>\n    <img src=\"https://upload.wikimedia.org/wikipedia/commons/f/f1/34th_G8_summit_member_20080707.jpg\" height='100'/>\n    <img src=\"http://demo1.alchemyapi.com/images/vision/politicians.jpg\" height='100'/>\n    -->\n    <img src=\"http://www.les-felins.com/wp-content/uploads/sites/791/2015/06/leopards_transparent.png\" height='100'/>\n    <img src=\"http://www.pngall.com/wp-content/uploads/2016/03/Tiger-Free-Download-PNG.png\" height='100'/>\n\n    <br/>Copy above image location URL or enter any image URL:<br/>\n    Image URL: <input type=\"text\" name=\"imageurl\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>","x":506.00000762939453,"y":181.00000190734863,"wires":[["12c4f4fc.dfa86b"]]},{"id":"49beaeb4.7972b","type":"template","z":"a9315524.7d29b8","name":"Report Image Class","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<h1>Watson Visual Recognition Results</h1>\n<p>Analyzed image: {{req.query.imageurl}}</p>\n{{#payload}}\n{{#images}}\n{{#scores}}\n<table border='1'>\n<thead>\n    <tr>\n        <th>Classifier</th>\n        <th>Score</th>\n    </tr>\n</thead>\n    <tr>\n        <td><b>{{classifier_id}}</b></td>\n        <td><i>{{score}}</i></td>\n    </tr>\n</table>\n{{/scores}}\n{{/images}}\n{{/payload}}\n\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <input type=\"submit\" value=\"Try again\"/>\n</form>","x":805.4285430908203,"y":394.4285774230957,"wires":[["12c4f4fc.dfa86b"]]},{"id":"d9ed65f1.463558","type":"switch","z":"a9315524.7d29b8","name":"Check image url","property":"payload.imageurl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","outputs":2,"x":224,"y":288,"wires":[["65a06c69.3edc04"],["8d4bb352.9a5ff"]]},{"id":"9c497a92.c28e88","type":"watsonVR","z":"a9315524.7d29b8","name":"vrTest","username":"","password":"","service":"_ext_","x":629.1428298950195,"y":432.42858123779297,"wires":[["49beaeb4.7972b"]]},{"id":"8d4bb352.9a5ff","type":"change","z":"a9315524.7d29b8","name":"Extract img URL","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.imageurl","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":228,"y":434,"wires":[["13c00aab.e0daf5"]]},{"id":"7639ae7f.f52d9","type":"http in","z":"a9315524.7d29b8","name":"VRapp","url":"/vrapp","method":"get","swaggerDoc":"","x":55,"y":210,"wires":[["d9ed65f1.463558"]]},{"id":"13c00aab.e0daf5","type":"function","z":"a9315524.7d29b8","name":"setClassifiers","func":"msg.classifiers = {\n    \"classifiers\": [\n        {\"classifier_id\" : \"tiger_1579683016\"},\n        {\"classifier_id\" : \"leopard_669765398\"}\n    ]\n}\nmsg.imageurl=msg.payload.imageurl;\nreturn msg;","outputs":1,"noerr":0,"x":445.71427154541016,"y":438.8571376800537,"wires":[["9c497a92.c28e88"]]}]
